html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Helvetica;
    font-size: 11pt;
    background-color: whitesmoke;
}

.headingtop {
    position: fixed;
    left: 5vw;
    top: 5vh;
    margin-left: 5vw;

}

.inside0 {
    overflow: scroll;
    padding-top: 5vh;
    width: 90vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.inside {
    overflow: scroll;
    width: 90vw;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px dotted black;
}

.heading {
    margin-top: 2vw;
    margin-left: 5vw;
    margin-bottom: 0px;
    font-family: courier;
    font-size: 24px;
    color: black;
}

table td {
    width: 16.66%;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    overflow: scroll;
    border-style: dotted;
}



table,
td,
tr {
    width: 90vw;
    border-style: solid;
}

td.title {
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 16, 66%;
}

.title {
    width: 90vw;
    font-weight: bold;
    background-color: grey;
}

img {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 10vw;
    height: auto
}

.index {
    font-family: courier;
    margin-top: 2.5vh;
    margin-left: 5vw;
    padding-bottom: 15vh;

}
